html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgba(25, 135, 84, 0.5);  /* Changed from #258cfb (blue) to rgba(25, 135, 84, 0.5) (green with transparency) */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}